version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "03:00"
    open-pull-requests-limit: 5
    reviewers:
      - "docaohieu2808"
    labels:
      - "dependencies"
    commit-message:
      prefix: "chore(deps)"
